venv/
__pycache__/
images/Attemp1.jpg
images/Lion.jpg
images/Outline.jpg
images/pics.png
images/test.png
images/DALL·E 2024-12-31 13.09.54 - A fun and minimalistic map design for an A4 page, divided into three zones with aquatic, sandy, and jungle themes. The aquatic zone features stylized .webp
images/DALL·E 2024-12-31 13.10.03 - A fun and minimalistic A4 map design for a zoo, divided into three distinct zones with accurate animal representations. The aquatic zone on the left f.webp
Zoo-Notebook.ipynb
Test_Zoo.py